# Python cache files
__pycache__/
*.py[cod]
.venv
.robotcode_cache
.idea

# Test results
results/

# Robot Framework
*.log
*.xml
output.xml
report.html

# Security
tests/resources/variables/secret.robot